* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background: url('../img/background.jpg');
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #121214;
}

body * {
  font-family: 'Inter', sans-serif;
  line-height: 160%;
}

header {
  height: calc(7.5rem + 2rem);
  padding-top: 2rem;
}

header div {
  margin: 0 auto;
  width: 7.5rem;

  background-image: linear-gradient(
    90deg,
    #9572fc 0%,
    #43e7ad 50.52%,
    #e2d45c 100%
  );

  border-radius: 50%;

  display: flex;
  padding: 0.25rem;

  transition: all 0.2s ease-in-out;
}

header div:hover {
  transform: scale(1.1);
}

header img {
  width: 100%;
  border-radius: 50%;
}

main {
  max-width: 580px;
  width: 90%;
  margin: 2rem auto;

  display: grid;
  gap: 1.5rem;

  margin-top: 2rem;
}

section {
  color: white;

  padding-top: 0.25rem;
  border-radius: 0.625rem;
  background-image: linear-gradient(
    90deg,
    #9572fc 0%,
    #43e7ad 50.52%,
    #e2d45c 100%
  );
}

section div {
  background-color: #2a2634;
  padding: 2rem 1.5rem;
  border-radius: 0.5rem;
}

section h3 {
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: -0.47px;

  color: white;
}

section p {
  font-weight: 400;
  letter-spacing: -0.18px;
  color: #a1a1aa;
}

section ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1.5rem;
}

section ul li {
  transition: all 0.2s ease-in-out;
}

section ul li:hover {
  transform: scale(1.1);
}

.games-list img {
  width: 5.625rem;
  border-radius: 0.5rem;
}

.streamers-list img {
  width: 4.375rem;
  border-radius: 50%;

  border: 0.0625rem solid #443e54;
}

/* animation */

header div {
  animation: fromTop 0.5s 0.3s backwards;
}

main section {
  animation: fromBottom 0.2s backwards;
}

main section:nth-child(1) {
  animation-delay: 0.7s;
}

main section:nth-child(2) {
  animation-delay: 0.9s;
}

main section:nth-child(3) {
  animation-delay: 1.1s;
}

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateY(1.875rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
